@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1#heading1 {
  font-size: 6.4167rem;
  line-height: 7.8333rem;
  font-weight: 300;
}

h1#subtitle1 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

h2#heading2 {
  font-size: 3.8333rem;
  line-height: 4.625rem;
  font-weight: 300;
}

h2#subtitle2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
}

h3#heading3 {
  font-size: 3rem;
  line-height: 3.6875rem;
  font-weight: 400;
}

h4#heading4 {
  font-size: 2.125rem;
  line-height: 2.5625rem;
  font-weight: 400;
}

h5#heading5 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 400;
}

h6#heading6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

p#body1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}



p#body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

p#caption {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

p#overline {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 400;
}

p {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

button#btn {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
}

button.button_pink {
  background-color: #F48FB1;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  color: white;
  width: 100px;
  position: relative;
  text-align: left;
}

#arrow-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 8px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17217 6.99999L0.222168 2.04999L1.63617 0.635986L8.00017 6.99999L1.63617 13.364L0.222168 11.95L5.17217 6.99999Z' fill='white'/%3E%3C/svg%3E");
}

#arrow-left {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 8px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.828 12L15.778 16.95L14.364 18.364L8 12L14.364 5.63599L15.778 7.04999L10.828 12Z' fill='white'/%3E%3C/svg%3E");
}

/* h1 {
  font-size: 97px;
  line-height: 118px;
  font-weight: 300;
}

h1#subtitle1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

h2 {
  font-size: 61px;
  line-height: 74px;
  font-weight: 300;
}

h2#subtitle2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

h3 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

h4 {
  font-size: 34px;
  line-height: 41px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

p#body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

p#body2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

p#caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

p#overline {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 24px;
}

button {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
} */